* {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

header a {
    text-decoration: none;
    color: rgb(103, 103, 103);
}

header a:hover {
    text-decoration: underline;
    color: rgb(103, 103, 103);
}

header a:visited {
    text-decoration: none;
    
}

header {
    padding: 20px 22px;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#about {
    font-size: 13px;
    padding-right: 20px;
}

#gmail {
    font-size: 13px;
    padding-right: 15px;
}

#images {
    font-size: 13px;
    padding-right: 24px;
}

#apps {
    font-size: 18px;
    padding-right: 18px;
}

#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    position: relative;
}

#search img {
    margin-bottom: 20px;
}

input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 40px;
    width: 500px;
    border:.5px solid #eaeaea;
    outline:none;
    border-radius: 25px;
}
input:hover{
    box-shadow: 0 0 2px rgb(221, 194, 213);
}

#mag {
    height: 25px;
    z-index: 1;
    position: absolute;
    left: -210px;
    bottom: 42px;
}

#mic {
    height: 25px;
    z-index: 1;
    position: absolute;
    left: 220px;
    bottom: 87px;
}

#search-btn {
    margin-top: 20px;
}

.featured-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#youtube {
    margin-right: 5px;
}

#featured-text a {
    margin-bottom: 0 !important;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(242, 242, 242);
    padding: 10px 40px 10px 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
}

.footer-center {
    display: flex;
    align-items: center;
}

#leaf {
    height: 15px;
    margin-right: 5px;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

#advertising {
    padding-right: 15px;
}

#business {
    padding-right: 15px;
}

#privacy {
    padding-right: 15px;
}

#terms {
    padding-right: 15px;
}

footer a {
    text-decoration: none;
    color: rgb(112, 117, 122);
}

footer a:hover {
    text-decoration: underline;
    color: rgb(112, 117, 122);
}

footer a:visited {
    text-decoration: none;
    color: rgb(112, 117, 122);
}